body {
  display: inline;
  text-align: center;
}
.canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
   display: inline;
 }
 #menu {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
   padding: 10px;
   bottom: 300px;
 }

 .menudiv {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
 }
 .ballspeeddiv {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
 }
